<h1>Recipes</h1>
<div class="name">
  <ul class="index-list small-block-grid-3">
    <%@recipes.each do |recipe|%>
      <li><%= link_to(recipe_path(recipe)) do %>
        <div class="panel index-tile"><%=recipe.title%></div>
      <% end %>
      </li>
    <%end%>
  </ul>
  <%= link_to(new_recipe_path) do %>
    <button type="button">Add A New Recipe</button>
  <% end %>

</div>
