<div class="parallax">
  <div class="welcome">
    Welcome to My Cookbook
  </div>
</div>
<%= link_to(recipes_path) do %>
  <button class="button" type="button">View Recipes</button>
<% end %>

<%= link_to(new_recipe_path) do %>
  <button class="button" type="button">Add A New Recipe</button>
<% end %>
