<p>
  Modify me in `app/views/homes/index.html.erb` or change the root directive in
  `config/routes.rb`
</p>
<%= link_to(recipes_path) do %>
  <button class="button" type="button">View Recipes</button>
<% end %>

<%= link_to(new_recipe_path) do %>
  <button class="button" type="button">Add A New Recipe</button>
<% end %>
